# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Cython output files
cpnest/*.c

# Compiled python
*.pyc

build
dist
.eggs
*.egg-info

# Vim temp files
*.swp

# Profiler files
*.prof

# Visual Studio Code
.vscode/
